@dark: #222;


.link-list {

	a:hover, a:visited {
		color: inherit;
	}

	.link {
		margin-bottom: 30px;
		position: relative;
		width: 600px;
		float: left;
		margin: 10px;
	}

	.thumb {
		width: 200px;
		height: 150px;
		position: relative;
		img.f {
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 32px;
			height: 32px;

		}
		img.i {
			position: relative;
		}
	}
	.header {
		width: 200px;
		position: relative;
		.identifier {
			background-color: green;
			color: white;
			display: inline;
			padding-left: 10px;
			padding-right: 10px;
		}
		.date {
			position: absolute;
			right: 0px;
			display: inline;
			text-align: right;
			margin-right: 10px;
		}
	}
	.info {
		position: absolute;
		right: 0px;
		top: 0px;
		bottom: 0px;
		width: 380px;
		.large {
			text-align: center;
		}
	}
	.text {
		position:absolute;
		top: 0px;
		bottom: 24px;
		left: 0px;
		right: 0px;
		overflow-y: scroll;
	}
	.tags {
		background-color: rgba(255,255,255,0.4);
		position: absolute;
		bottom: 0px;
		left: 10px;
		right: 10px;
		height: 20px;

		.tag {
			display: inline;
			border: 1px solid lightgrey;
			padding: 2px;
			border-radius: 3px;
			margin-left: 3px;
		}
	}
}