@dark: #222;


.link-list {
	.link {
		position: relative;
		padding: 20px;
		border-top: 1px solid lightgrey;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.header {
		position: relative;
		left: 0px;
		border: 1px solid green;
		width: 100px;
		border: 1px solid green;
	}
	.identifier {
		font-size: 20px;
		text-align: center;
		background-color: green;
		color: white;
	}
	.date {
		color: green;
		text-align: center;
		font-weight: bold;
	}
	h3 {
		position: relative;
		margin: 0px;
		left: 120px;
		top:	0px;
		right:	0px;
		vertical-align: top;
		display: inline-block;
	}
	h3.large {
		font-size: 2em;
		text-align: center;
	}
	a:visited {
		color: @dark;
	}
	.text {
		position: relative;
		left: 130px;
		top: 20px;
	}
	.tags {
		position: absolute;
		right: 250px;
	}
	@tagColor: #3A3;
	.tag {
		border: 1px solid #3A3;
		color: #3A3;
		margin: 3px;
		border-radius: 3px;
		font-style: italic;

	}
	img.i {
		position: absolute;
		right: 10px;
		top: 10px;
	}


}