<% var title = 'Configure Charlotte' %>
<% include ../head %>
    <form class='configure' method="POST" action='/configure'>
        <div class="metal padded">
            <h1>Please configure</h1>
            <div class="it button-right">
                <input name="username" class="erasable" type="text" placeholder="Admin username" value="<%= username || "" %>" />
                <button type="button" class="te"></button>
            </div>
            <div class="it button-right">
                <input name="password" class="erasable" type="password" placeholder="Password" value="" />
                <button type="button" class="te"></button>
            </div>
            <div class="it button-right">
                <input name="password_again" class="erasable" type="password" placeholder="Repeat password" value="" />
                <button type="button" class="te"></button>
            </div>
            <div class="row button-row-right">
                <button class="btn green" type="submit">Save</button>
            </div>
<% if(message != '') { %>
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%- message %>
            </div>
<% } %>
        </div>
      </form>

<% include ../foot %>