<% var title = 'Authentication Example' %>
<% include ../head %>
<div class='row'>
<h1>Login</h1>
<%- message %>
<form class="not-wide-form" method='POST' action="/login">
  <div class="metal padded">
    <h1>Please Login</h1>
    <div class="it button-right">
        <input name="username" class="erasable" type="text" placeholder="Login" value="" />
        <button type="button" class="te"></button>
    </div>

    <div class="it button-right">
        <input name="password" class="erasable" type="password" placeholder="Password" value="" />
        <button type="button" class="te"></button>
    </div>
    <div class="row button-row-right">
      <button class="btn green" type="submit">Save</button>
    </div>
    <% if(redirect) {%>
      <input type="hidden" name="redirect" value="<%= redirect %>"><% } %>
  </div>
</form>

<% include ../foot %>