<!doctype html>

<html>
  <head>
    <title><%= title || "Charlotte.js" %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="//localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div class="row top-bar">
      <div class="row middle">
        <a class="col logo" href="#" title="home"><i class="fa fa-home"></i><span class="t">Charlotte <span class="c">with <%= links_count %> links</span></span></a>
        <a class="col" href="/" title="About"><i class="fa fa-question"></i><span class="t">About</span></a>
        <a class="col" href="#about" title="Login"><i class="fa fa-lock"></i><span class="t">Login</span></a>
        <a class="col" href="#contact" title="Tag Cloud"><i class="fa fa-cloud"></i><span class="t">Tag Cloud</span></a>
        <a class="col" href="#contact" title="Picture Wall"><i class="fa fa-picture-o"></i><span class="t">Picture Wall</span></a>
<!--         <a class="col" href="#about" class="log-out-link"><i class="fa fa-unlock"></i><span class="t">Log out</span></a>
 -->
      </div>
    </div>
    <% include search %>
    <div class="container">
