    <form class="search">
        <div class="layer">
            <div class="it right">
                <input class="erasable" type="text" placeholder="Search by text" value="" />
                <button type="button" class="te" data-non-empty-value="Text">Text</button>
            </div>
            <div class="it left">
                <input class="erasable" type="text" placeholder="Search by"  />
                <button  type="button" class="te large" data-non-empty-value="Tag">Tag</button>
            </div>
        </div>
    </form>
