    <form class="search">
        <div class="metal">
            <div class="it button-right">
                <input class="erasable" type="text" placeholder="Search by text" value="" />
                <button type="button" class="te" data-hint-value="Text">Text</button>
            </div>
            <div class="it button-left">
                <input class="erasable" type="text" placeholder="Search by tag"  />
                <button  type="button" class="te large" data-hint-value="Tag">Tag</button>
            </div>
        </div>
    </form>
